.race-info {
  display: inline-block;
  margin-top: 5px;
  color: #8fbeaf;
}

.info {
  display: block;
  color: #8fbeaf;
  margin-top: 5px;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;

  &--paid {
    background: rgba(255, 255, 255, 0.1);
  }

  &--cancelled {
    background: #ff6961;
  }
}
